@font-face {
font-family: BebasNeue;
src: 
    url("../fonts/BebasNeue Bold.ttf");
}

@font-face {
font-family: logo;
src:
    url("../fonts/logo_lobster_1_4.otf");
}

@font-face {
font-family: OpenSans;
src:
    url("../fonts/Open Sans.ttf");
}


* { 
box-sizing: border-box; 
} 

.wrapper { 
width: 100%; 
max-width: 1024px; 
margin: 0 auto; 
font-family: BebasNeue; 
}

#logo { 
position: absolute;
font-size: 49px; 
font-family: logo, BebasNeue, serif; 
color: #3cc3b5; 
padding: 12px 22px 22px 24px;
} 

.purchase {
position: absolute;
display: flex;
justify-content: space-between;
right: 0;
top: 0;
margin-right: 21px;
margin-top: 21px;
}

.purchase__basket {
margin-right: 16px;
border-style: none;
}

.purchase__amount {
font-family: BebasNeue, Arial;
font-size: 33px;
color: #a1a1a1;
}

header { 
height: 82px;
position: relative;

}

.search-wrapper {
position: absolute;
display: flex;
width: 435px;
height: 32px;
left: 265px;
top: 0;
margin-top: 25px;
}

.search {
display: block;
align-items: center;
width: 100%;
height: 100%;
border-color: #e1e1e1;
border-width: 1px;
border-style: solid;
    
/* max-width: 435px; */
}

.search__magnifier {
    background-image: url(../images/search_magnifier.png);
    position: absolute;
    background-size: 100%;
    height: 20px;
    width: 20px;
    top: 5px;
    border: none;
    background: no-repeat;
    right: 10px;
}

footer {
max-height: 383px;
background-color: #3cc3b5;        
}

footer .top {
display: flex;
max-height: 336px;
justify-content: space-around;
}



.column-title {
text-transform: uppercase;
color: #fff;
margin: 25px 20px;
font-size: 27px;
font-family: BebasNeue, monospace;
}

.column-list {
margin: 30px 20px;
padding: 0;
list-style: none;
white-space: nowrap;
color: #fff;
font-family: OpenSans, Arial;
font-size: 15px;
}

ul li {
margin-bottom: 10px;
}

.sub {
background-color: #2da89b;
font-family: 'Open Sans', arial;
max-height: 45px;
margin: auto 0;
font-size: 15px;
text-align: center;
color: #fff;
background-color: #2da89b;
opacity: 0.9;
}

.copyright {
display: inline-block;
padding: 15px 15px;
font-family: OpenSans, arial;
white-space: nowrap;
}